/* global */

@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
  font-family: 'Raleway', sans-serif;
}

*{
  box-sizing: border-box;
}

input[type=button]{
  cursor: pointer; 
  cursor: hand; 
}

.container{
  width: 1100px;
  margin: 0 auto;
  /* overflow: hidden; nie wyświetla się dropdown */
}

.container .row{
  width: 100%;
}


.container .row::after{
  content: "";
  clear: both;
  display: block;
}


/* header */



header{
  width: 100%;
  background-color: #000;  
}

.nav-logo{
  float: left;
  padding: 16px 0;
}

.nav-logo a{
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

span{
  color: #24ba9f;
}

.menu{  
  float: right;
}

.menu ul{
  list-style: none;
}

.menu ul li{
  display: inline;
}

.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  padding: 0 25px;
  text-transform: uppercase;
}

.menu ul li:last-child a:last-child{
  padding-right: 0;
}



/* dropdown menu */ 



li.dropdown{
  position: relative;
  display: inline; 
}

li.dropdown  ul.dropdown-menu{
  position: absolute;
  top: 48px;
  right: -20px;
  display: none;
  background-color: #000;
  padding: 10px 0 4px 0; 
}
/* added in javascript
li.dropdown:hover ul.dropdown-menu{
  display: block;
}

li.dropdown:hover .triangle{
  display: block;
}
*/
.triangle{
  position: absolute;
  display: none;
  top: 38px;
  right: 48px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;  
  border-bottom: 10px solid #000;
}


li.dropdown  ul.dropdown-menu li a{
  text-transform: none;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 20px;  
}





/* slider section */





.slider{
  background-color: background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  margin-top: 133px;
}

.slider .container{
  height: 
}

.left-btn, .chair-img, .chair-text, .right-btn {
  float: left;
  margin-bottom: 30px;
}
.left-btn, .right-btn{  
  margin-top: 115px;  
}

.left-btn{
  width: 4%;
}

.right-btn{
  width: 4%;  
}

.chair-img{  
  height: 337px;
  width: 470px;

}

.chair-img ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-img {
  background-position: center;   
  height: 337px;
  width: 470px;
  background-repeat: no-repeat;
}

.first-img{
  background-image: url(../images/black_chair.png);
  background-size: 558px 400px;
  display: none;
}

.second-img{
  background-image: url(../images/red.png);
  display: none;  
}

.third-img{
  background-image: url(../images/orange.png);
  display: none;
}

.visible{
  display: block;  
}

.left-btn a, .right-btn a{
  font-size: 60px;
  color: #24ba9f;
  text-decoration: none;  
}

.right-btn {
  text-align: right;
}

.chair-text{
  width: 49%;
}

h1{
  text-transform: uppercase;
  padding-left: 80px;
  font-size: 42px;
  margin-bottom: 18px;
}


.chair-paragraph{
  text-align: center;
  padding: 3px 50px;
  line-height: 25px;
}

.button{
  text-align: center;
  margin-top: 30px;
}

.button-link{
  background-color: #24ba9f;
  height: 42px;
  width: 244px;
  color: #fff;
  font-size: 22px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
}


/*//////////////////////////////////// chairs section //////////////////////////////////////*/


.chairs{
  width: 100%;
  background-color: #fff;
}

.chairs .container .row{
  padding-top: 30px;
}


.clair-chair, .margarita-chair, .inputs-text{
  float: left;  
}

.clair-chair, .margarita-chair{
  width: 30%
}


.clair-chair{
  background-image: url(../images/box1_img.jpg);
  position: relative; 
  margin-right: 1.3636%;
}

.margarita-chair{
  background-image: url(../images/box2_img.jpg);
  position: relative;  
  margin: 0 1.3636% 0 1.3636%;
}


.clair-chair .inner-chair a, .margarita-chair .inner-chair a{  
  color: #000;
  text-decoration: none;
}

.clair-chair, .margarita-chair{
  height: 226px;  
}

.clair-chair .inner-chair h4{
  border-bottom: 8px solid #24ba9f;
  padding: 0 5px 0 5px;
  margin-top: 15px;
}

.margarita-chair .inner-chair h4{
  border-bottom: 8px solid #24ba9f;
  margin-top: 15px;
}

.inner-chair {
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  position: absolute;
  bottom: 12px;
  padding: 0 175px 0 15px;
}

.inputs-text{
  width: 34.55%;
  margin-left: 1.3636%;
  border: 1px solid #c2c2c2;
  padding: 0 20px 20px;;
  line-height: 22px;
}

.inputs-text h4{
  border-bottom: 8px solid #24ba9f;
  width: 40%;
  padding-top: 8px;
  margin-bottom: 15px;
}

.inputs-text p{
  color: #555;
}

.inputs-second{
  padding-top: 5px;
}




/*/////////////////////////////////////// price section /////////////////////////////////////////*/
/* global */


.price{
  width: 100%;
  background-color: #f1f1f1;
  padding: 25px 0 50px 0;
  margin-top: 60px;
}

.price-list h3{
  color: #555;
  text-transform: uppercase;
  border-bottom: 8px solid #24ba9f;
  width: 31%;
}

.price-list{
  margin-bottom: 80px;
}

.basic, .standard, .advanced{
  height: 500px;
  width: 31.51%;
  float: left;
  position: relative;
  background-color: #f9f9f9;
  border: 2px solid #c2c2c2;
  border-radius: 2px;
}

.ring{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -28px;
  top: -39px;
  background-color: #fff;
  border: 2px solid #c2c2c2;
}

.circle{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #c2c2c2;
  position: absolute;
  left: 25%;
  top: 25%;
}

h2{
  text-transform: uppercase;
  color: #24ba9f;
  text-align: center;
  margin: 30px;
}

.price-circle{
  width: 128px;
  height: 128px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-left: -64px;
  background-color: #fff;
  padding-top: 12px;
  border: 2px solid #c2c2c2;
}

.price-circle h1{
  color: #c2c2c2;
  text-align: center;
  padding-left: 0;
  line-height: 25px;
}

sup{
  font-size: 20px;
  vertical-align: super;
}

.pln{
  font-size: 15px;
  text-transform: uppercase;
  color: #c2c2c2;
}

.plan-div{
  margin-top: 200px;
  text-align: center;
}

.plan-div p{
  margin: 0;
  padding: 10px 0;
  color: #919191;
  font-weight: bold;
  font-size: 20px;
}

.darkgreyP{
  background-color: #e4e4e4;
}

.lightgreyP{
  background-color: #f1f1f1;
}

.signIn-btn-div{ 
  position: absolute;
  left: 50%;
  margin-left: -61px;
  bottom: 10px;
}

.signIn-btn{
 background-color: #24ba9f;
 height: 34px;
 width: 122px;
 color: #fff;
 font-size: 16px;
 border: none;
 border-radius: 8px;
 text-transform: uppercase;
 
}

/*//////////////////basic div////////////////////*/


.basic{
  margin-right: 1.3636%; 
}



/*//////////////////standard div////////////////////*/

.standard{
  margin: 0 2.7272% 0 1.3636%;
  background-color: #27c7ab;
  border: 2px solid #27c7ab;
}

.standard .ring{
  background-color: #27c7ab;
  border: 2px solid #27c7ab;
}

.standard .circle{
  background-color: #fff;
}

.standard h2{
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 30px;
}

.standard .price-circle{
  background-color: #f9f9f9;
  padding-top: 12px;
  border: 2px solid #f9f9f9;
}

.standard .price-circle h1{
  color: #27c7ab;
}

.standard .price-circle h1 span{
  color: #27c7ab;
}

.whiteP{
  background-color: #fff;
}

.standard .signIn-btn{
 background-color: #fff; 
 color: #27c7ab; 
}


///////////////////////*advanced div*///////////////////





/*///////////////////////////////////// section contact-form ////////////////////////////////*/

.contact-form{
  width: 100%;
  background-color: #fff;
}

.contact-form h3{
  color: #555;
  text-transform: uppercase;
  border-bottom: 8px solid #24ba9f;
  width: 31%;
  padding-top: 20px;
}

.contact-input, .red-chair{
  float: left;
  height: 400px;
}

/*////////////////// contact input /////////////////////*/

.contact-input{
  width: 60%;
}

.contact-input input, .contact-input textarea{
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 1px solid #24ba9f;
  border-radius: 1px;
}

.contact-input textarea{
  height: 195px;
  resize: none;
  overflow: hidden; /*?*/
}

input, optgroup, select, textarea{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

/*////////////////// placeholder text color //////////////*/

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #c9c9c9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c9c9c9;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c9c9c9;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c9c9c9;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #c9c9c9;
}


/*//////////////// red-chair div //////////////////////*/

.red-chair{
  width: 40%;
  padding-left: 70px;
  margin-top: -20px;
}

.red-chair .chair{
  background-image: url(../images/red_chair.png);
  height: 190px;
  background-size: contain;
  background-position: 35px 0;
  background-repeat: no-repeat;
}

.check-box-img, .check-box-text{
  float: left;
  margin-top: 30px;
}

.check-box-text{
  width: 86,837%;
  height: 48px;
  color: #C2C2C2;
  font-size: 20px;
  padding: 5px 0 0 15px;
  line-height: 20px;
}

.check-box-img{
  border: 1px solid #24ba9f;
  background-image: url(../images/form_ok.jpg);
  height: 48px;
  width: 13.163%;
  background-position: -2px 4px;
  background-repeat: no-repeat;
  border-radius: 1px;
}

.confirm-btn{
  clear: both;
  padding-top: 35px;
}

.confirm-btn input{
  width: 95%;
  height: 65px;
  text-align: center;
  border-radius: 8px;
  background-color: #24BA9F;
  border: none;
  margin-top: 5px;
  
}

.confirm-btn a input{
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
}


/*//////////////////////////// footer ///////////////////////////////////////////////////////*/

footer{
  width: 100%;
  background-color: #fff;
  margin-bottom: 40px;
  padding-top: 30px;
}

.copy-rights{
  float: left;
  color: #8b8b8b;
  padding-top: 17px;
  font-size: 14px;
}

.social-icons{
  float: right;
  padding-right: 110px;
}

.sit-on-chair{
  float: right;  
  padding-top: 17px;
}

.sit-on-chair a{
  text-transform: uppercase;
  color: #8b8b8b;
  text-decoration: none;
}

.foot-span{
  font-weight: bolder;
  color: #8b8b8b;
}













